@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

html{
  font-size: 10px;
}
body{
  font-family: "Petrona", serif;
  font-weight: 400;
  font-style: normal;
}
::selection {
  background: #BA2762;
  color: #fff;
}
.styled-scrollbar::-webkit-scrollbar {
  height: 5px; /* Width of the scrollbar */
  border-radius: 100px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #FFE3E780; /* Track color */
  border-radius: 100px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #BA2762; /* Thumb color */
  border-radius: 100px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #BA2762; /* Thumb color on hover */
}